@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html{
  box-sizing: border-box;
} 
body{
  margin:0;

}
h1{
  /* font-size: 60px; */
  font-size: 3rem;
  margin:0 10px;
}
h2{
   font-size: 2.2rem;
   margin:0 10px;
   margin-top: 20px;
}
section{
  font-family: Raleway, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:rgb(	241, 250, 238)

}
section h1{
  font-family:Raleway;
  color: #1D3557;
  font-size: 4rem;
  font-weight: bolder;
  margin:0 10px;
}

/*presentation*/
.presentation-container{
  height: 100vh;

  background: url(./img/background.svg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: Raleway, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:rgb(	241, 250, 238);
  text-align: center;

}
.presentation-container span{
  color: rgb(230, 57, 70);
  font-size: 1.1em;
  font-weight: bolder;
}
.button-presentation{
  cursor:pointer;
  margin:10px 0px;
  padding: 0.5rem 1.8rem;
  background: rgba(	230, 57, 70,0.9);
  border-radius: 5px;
  height: 2.5rem;
  font-size: 1.2rem;
  outline: none;
  border:none;
  box-shadow: 0 0.3rem rgba(121,121,121,0.65);
}
.button-presentation:hover{
  filter:brightness(110%);
}
.button-presentation:active{
  transform: translate(0,0.2rem);
  box-shadow: 0 0.1rem rgba(121,121,121,0.65);
}
/*Nav bar customizing*/
.navbar-custom{
  background: rgb(230, 57, 70);
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
  color:rgb(	241, 250, 238);
}
.navbar-custom .navbar-nav .nav-link{
  color:rgb(	241, 250, 238);
}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #1D3557;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(241, 250, 238' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(	241, 250, 238);
} 
.nav-link{
  font-size: 1.2rem;
  font-family: Raleway, sans-serif;
  margin: 0px 15px;
}

/*about container*/
.about-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  padding: 10px 20px;
  margin: 25px;
  border-radius: 10px;
  font-family: Raleway, sans-serif;
 
  background-color: #A8DADC;

}
.about-container img{
  width: 200px;
  height: auto;
  border-radius: 10px;
 
}
.about-me-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.4em;
  font-weight: 400;
}
.about-me-info h1{
  font-size: 2em;
  color:#457B9D;
}

/*media query*/
@media screen and (max-width:750px) {
  .nav-link{
    text-align: center;
    font-size: 2.8rem;
    margin: 20px 0px;
  }
  .about-container{
    flex-wrap: wrap;
  }
  .about-container{
    width: 90%;
  }

}